<md-card class="hero" fxLayout="column" fxLayoutAlign="space-around center">
  <h1 fxFlex="1 1 auto">MEAN Authentication App</h1>
  <h3 fxFlex="1 1 auto">Register an login safely while using the latest technology</h3>
  <div class="account" fxFlex="1 1 auto" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between stretch">
    <button md-raised-button color="primary" routerLink="/login"><md-icon>account_circle</md-icon> Login</button>
    <button md-raised-button color="accent"routerLink="/register"><md-icon>assignment</md-icon> Register</button>
  </div>
</md-card>

<div class="tech" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="space-around center">
  <md-card>
    <md-card-header>
      <md-card-title-group>
      <img md-card-sm-image src="http://www.argeniss.com/images/logos/database/mongo-db-icon.png">
      <md-card-title>MongoDB</md-card-title>
      <md-card-subtitle>MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need.</md-card-subtitle>
      </md-card-title-group>
    </md-card-header>
  </md-card>

  <md-card fxFlexOffset.gt-md="20px">
    <md-card-header>
      <md-card-title-group>
        <img md-card-sm-image src="http://code.runnable.com/images/provider-icons/icon-express-alt.svg">
        <md-card-title>Express</md-card-title>
        <md-card-subtitle>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</md-card-subtitle>
      </md-card-title-group>
    </md-card-header>
  </md-card>

  <md-card fxFlexOffset.gt-md="20px">
    <md-card-header>
      <md-card-title-group>
        <img md-card-sm-image src="https://angular.io/assets/images/logos/angular/angular.svg">
        <md-card-title>Angular</md-card-title>
        <md-card-subtitle>Angular is a platform that makes it easy to build applications with the web. Angular empowers developers to build applications that live on the web, mobile, or the desktop.</md-card-subtitle>
      </md-card-title-group>
    </md-card-header>
  </md-card>

  <md-card fxFlexOffset.gt-md="20px">
    <md-card-header>
      <md-card-title-group>
        <img md-card-sm-image src="https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg">
        <md-card-title>Node</md-card-title>
        <md-card-subtitle>Node.js is a lightweight and efficient JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js' package ecosystem, is the largest ecosystem of open source libraries in the world.</md-card-subtitle>
      </md-card-title-group>
    </md-card-header>
  </md-card>
</div>
